body {
  overflow-x: hidden;
  height: 100%;
  position: relative;
  max-width: 100%;
  font-size: 0.875rem;
  background-color: #eef1f7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sidebar {
  width: 20%;
  transition: all 0.05s ease;
  height: 100vh;
  background: #3c418c;
}

.sidebar nav {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar nav::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: #b5a4a4;
  border-radius: 5px;
}


.sidebar.collapsed {
  width: 0;
  display: none !important;
}


.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px;
  margin: 0;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #fceced;
  color: #38418b !important;
  margin: 0;
  border-radius: 10px;
}

.submenu {
  background-color: transparent;
  margin: -9px 12px 0;
  border-radius: 10px;
}

.sidebar .submenu a:hover,
.sidebar .submenu a.active {
  background-color: transparent;
  color: #fff !important;
  margin: 0;
  border-radius: 0;
}


.submenu .show a {
  color: #fff !important;
}

.submenu a {
  padding-left: 0;
}

.content {
  transition: margin-left 0.3s;
}

.content.collapsed {
  margin-left: 0;
}

.chart_box {
  height: 515px;
}

.chart_box img {
  height: 90%;
  width: 100%;
}

.card:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}

.card {
  margin-bottom: 1rem;
}

.card i {
  font-size: 1.8rem;
}

#content {
  overflow: auto;
  height: 100vh;
}

#head_master {
  position: sticky;
  top: 0px;
  z-index: 9;
}